// .eslintrc file (no extension)
{
    "extends": [
      "react-app"
    ],
    "rules": {
      "no-unused-vars": "off",
        "no-restricted-syntax": ["error", "SequenceExpression"]
    },
    "plugins": ["react", "react-hooks"]
  }